.DS_Store
BNN/__pycache__/mine_bnn.cpython-311.pyc
BNN/异方差/__pycache__/DataSet.cpython-311.pyc
BNN/异方差/极大似然估计法/__pycache__/MLP.cpython-311.pyc
BNN/异方差/贝叶斯神经网络/__pycache__/mine_bnn.cpython-311.pyc
GAN/stylegan/__pycache__/
EM/理解EM算法/gmm_animation.gif
.vscode/
OCR/CAPTCHA/ctc.pth
